@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE =edge,chrome =1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <title>金沙</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../common/common.css" />
    <link rel="stylesheet" href="../css/reset.css ">
    <link href="../css/index.css" rel="stylesheet">
    <script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js "></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript">
        var jiathis_config = {
            siteNum: 15,
            sm: "tsina,qzone,cqq,xiaoyou,qq,weixin,tqq,tieba,douban,twitter,139mail,google,189mail,fav,alibaba",
            summary: "",
            boldNum: 6,
            showClose: true,
            shortUrl: false,
            hideMore: false
        }
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?btn=r2.gif&move=0" charset="utf-8"></script>
    <!-- JiaThis Button END -->
    <div class="container-fluid">
        <!--顶部开始-->
        <div class="row nav-bg b3-border">
            <div class="container padding_0 aa">
                <div class="row ">
                    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 hh ">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3  padding_0 logo">
                            <img src="../../common/headerImg/logo.png" alt="" class="img-responsive center-block" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 padding_0 ">
                            <div class="top-list">
                                <!--搜索框-->
                                @{
                                    if (ViewBag.IsLogin == null)
                                    {
                                        <div class="searchBox">
                                            <span id="searchSpan">搜索</span>
                                            <input id="searchInput" type="text" placeholder="搜索">
                                            <div class="S_btn"><img class="center-block" src="../img/index/banner/search.png" id="S_btn" /></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="searchBox" style="right:240px">
                                            <span id="searchSpan">搜索</span>
                                            <input id="searchInput" type="text" placeholder="搜索">
                                            <div class="S_btn"><img class="center-block" src="../img/index/banner/search.png" id="S_btn" /></div>
                                        </div>
                                    }
                                }
                                <ul>
                                    <a href="http://120.25.240.32:8800/"><li>大众版</li></a>
                                    <a href="http://120.25.240.32:8000/"><li>英文版</li></a>
                                    <a href="http://118.114.244.3:8014/"><li>学术版</li></a>
                                    <a href="http://120.25.240.32:8700/"><li>青教版</li></a>
                                    @{
                                        if (ViewBag.IsLogin == null)
                                        {
                                            <li class="top-listLi5">
                                                <a href="/Vip/Sign">注册</a>
                                            </li>
                                            <li class="top-listLi6">|</li>
                                            <li class="top-listLi7">
                                                <a href="/Vip/Login">登录</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="top-listLi5">
                                                <a id="loginout" style="cursor:pointer">退出登录</a>
                                            </li>
                                            <li class="top-listLi6">
                                                @if (ViewBag.IsLogin.Length > 4)
                                                {
                                                    ViewBag.IsLogin = ViewBag.IsLogin.Substring(0, 4) + "...";
                                                    <a href="/Vip/Index">
                                                        @ViewBag.IsLogin
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/Vip/Index">
                                                        @ViewBag.IsLogin
                                                    </a>
                                                }
                                            </li>
                                            <li class="top-listLi7">您好！亲爱的</li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="menu-btn">
                                <img src="../../img/index/show/menu.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide-top-list">
                    <ul>
                        <a href="http://120.25.240.32:8800/">
                            <li>大众版</li>
                        </a>
                        <a href="http://120.25.240.32:8000/">
                            <li>英文版</li>
                        </a>
                        <a href="http://118.114.244.3:8014/">
                            <li>学术版</li>
                        </a>
                        <a href="http://120.25.240.32:8700/">
                            <li>青教版</li>
                        </a>
                        @{
                            if (ViewBag.IsLogin == null)
                            {
                                <a href="/Vip/Sign">
                                    <li>注册</li>
                                </a>
                                <a href="/Vip/Login">
                                    <li>登录</li>
                                </a>
                            }
                            else
                            {
                                <a id="loginout" style="cursor:pointer">
                                    <li>退出登录</li>
                                </a>
                                @if (ViewBag.IsLogin.Length > 4)
                                {
                                    ViewBag.IsLogin = ViewBag.IsLogin.Substring(0, 4) + "...";
                                    <a href="/Vip/Index">
                                        <li>@ViewBag.IsLogin</li>
                                    </a>
                                }
                                else
                                {
                                    <a href="/Vip/Index">
                                        <li>@ViewBag.IsLogin</li>
                                    </a>
                                }
                            }
                        }
                        @if (ViewBag.Head != null)
                        {
                            foreach (var item in ViewBag.Head)
                            {
                                if (item.ModelName == "首页")
                                {
                                    <a href="/JinSha/Index">
                                        <li>首页</li>
                                    </a>
                                }
                                else if (item.ModelName == "关于金沙")
                                {
                                    <a href="/About/Index">
                                        <li>关于金沙</li>
                                    </a>
                                }
                                else if (item.ModelName == "参观指南")
                                {
                                    <a href="/VisitGuide/Index">
                                        <li>参观指南</li>
                                    </a>
                                }
                                else if (item.ModelName == "展览导览")
                                {
                                    <a href="/Exhibition/Index">
                                        <li>展览导览</li>
                                    </a>
                                }
                                else if (item.ModelName == "金沙资讯")
                                {
                                    <a href="/NEWS/Index">
                                        <li>金沙资讯</li>
                                    </a>
                                }
                                else if (item.ModelName == "艺术金沙")
                                {
                                    <a href="/Creation/Index">
                                        <li>艺术金沙</li>
                                    </a>
                                }
                                else if (item.ModelName == "典藏珍品")
                                {
                                    <a href="/Collection/Index">
                                        <li>典藏珍品</li>
                                    </a>
                                }
                                else if (item.ModelName == "文化活动")
                                {
                                    <a href="/Culture/Index">
                                        <li>文化活动</li>
                                    </a>

                                }
                                else if (item.ModelName == "金沙会员")
                                {
                                    <a href="/Vip/Index">
                                        <li>金沙会员</li>
                                    </a>

                                }
                                else
                                {
                                    <a href="/Volunteer/Index">
                                        <li>志愿者</li>
                                    </a>

                                }
                            }

                        }
                    </ul>
                </div>
                <div class="row mAp0">
                    <div class="nav-list">
                        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 padding_0">
                            <ul>
                                @if (ViewBag.Head != null)
                                {
                                    foreach (var item in ViewBag.Head)
                                    {
                                        if (item.ModelName == "首页")
                                        {
                                            <a class="active" href="/JinSha/Index">
                                                <li>首页</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "关于金沙")
                                        {
                                            <a href="/About/Index">
                                                <li>关于金沙</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "参观指南")
                                        {
                                            <a href="/VisitGuide/Index">
                                                <li>参观指南</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "展览导览")
                                        {
                                            <a href="/Exhibition/Index">
                                                <li>展览导览</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "金沙资讯")
                                        {
                                            <a href="/NEWS/Index">
                                                <li>金沙资讯</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "艺术金沙")
                                        {
                                            <a href="/Creation/Index">
                                                <li>艺术金沙</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "典藏珍品")
                                        {
                                            <a href="/Collection/Index">
                                                <li>典藏珍品</li>
                                            </a>
                                        }
                                        else if (item.ModelName == "文化活动")
                                        {
                                            <a href="/Culture/Index">
                                                <li>文化活动</li>
                                            </a>

                                        }
                                        else if (item.ModelName == "金沙会员")
                                        {
                                            <a href="/Vip/Index">
                                                <li>金沙会员</li>
                                            </a>

                                        }
                                        else
                                        {
                                            <a href="/Volunteer/Index">
                                                <li>志愿者</li>
                                            </a>

                                        }
                                    }

                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--顶部结束-->
        <!--banner开始-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="banner">
                    <div id="slideBox" class="slideBox1 row">
                        <div class="hd">
                            <ul>
                                @if (ViewBag.Banner != null)
                                {
                                    foreach (var item in ViewBag.Banner)
                                    {
                                        <li></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="bd col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul>
                                @foreach (var item in ViewBag.Banner)
                                {
                                    var src = "/upload/banner/" + item.FileName + "";
                                    <li class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a href="@item.ReturnUrl"><img src="@src" class="img-responsive center-block" alt=""></a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <!--<a class="prev" href="javascript:void(0)">‹</a>
                        <a class="next" href="javascript:void(0)">›</a>-->

                    </div>


                </div>
            </div>
        </div>
        <!--banner结束-->
        <!--搜索框-->
        <div class="search-box">
            <div class="input-group">
                <input type="text" placeholder="搜索" id="input-lg" class="input-lg"><span class="input-group-addon"></span>
            </div>
        </div>

        <!--买票的弹窗-->
        <div class="buyP">
            <div class="threeLink">
                <p class="closeFont">×</p>
               <a target="_blank" href="http://you.ctrip.com/sight/chengdu104/48863.html">携程</a>
        <a target="_blank" href="http://www.ly.com/scenery/BookSceneryTicket_17528.html">同程网</a>
        <a target="_blank" href="http://ticket.lvmama.com/scenic-104009">驴妈妈</a>
    @*<a href="javascript:void(0)">携程</a>
    <a href="javascript:void(0)">同程网</a>
    <a href="javascript:void(0)">驴妈妈</a>*@
            </div>
        </div>
        <!--内容展示开始-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container maxWidth">
                    <div class="row pt60 cont">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  box1">
                            @{
                                if (ViewBag.JinShaSite != null)
                                {
                                    var videosrc = "/upload/Information/" + ViewBag.JinShaSite.Id + "/" + ViewBag.JinShaSite.FileName + "";
                                    <p class="introduction-title hideTitle">@ViewBag.JinShaSite.Title</p>
                                    <p class="introduction-Entitle hideP">About&nbsp;JinSha</p>
                                    <div class="img-responsive center-block pull-left col-lg-5 col-md-5 col-sm-5 col-xs-12 viedoshow" style="overflow:hidden">
                                        <video style="width: 100%;height:100%;" src="@videosrc" controls="controls" loop="loop" preload="auto"></video>
                                    </div>
                                    <div class="right-info col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <p class="introduction-title showTitle">@ViewBag.JinShaSite.Title</p>
                                        <p class="introduction-Entitle showP">About&nbsp;Jinsha</p>
                                        <div class="line"></div>
                                        <div class="introduction-info">@ViewBag.JinShaSite.Intro</div>
                                        <a class="more-btn Bbtn mt28 widthB positionBtn" href="/About/Into">查看详情</a>
                                    </div>
                                }
                            }

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="position: relative;">
                            <!--最新特展-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 l-border box2">
                                <p class="introduction-title">最新特展</p>
                                <p class="introduction-Entitle">Temporary&nbsp;&nbsp;exhibition</p>
                                <div class="line"></div>
                                @{
                                    if (ViewBag.FirstExhibition != null)
                                    {
                                        var imgsrc = "/upload/Information/" + ViewBag.FirstExhibition.Id + "/" + ViewBag.FirstExhibition.Photo + "";
                                        <div class="center-pic">
                                            <a href="/Exhibition/Special?id=@ViewBag.FirstExhibition.Id"><img src="@imgsrc" alt=""></a>
                                        </div>
                                        <a href="/Exhibition/Special?id=@ViewBag.FirstExhibition.Id">
                                            <p class="over bottom-text ">查看详情</p>
                                        </a>
                                    }
                                }
                            </div>
                            <div class="lineCenter"></div>
                            @if (ViewBag.OnlineBooking != null)
                            {
                                <!--网上预约-->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box3 pull-right">
                                    <p class="introduction-title ">网上预约</p>
                                    <p class="introduction-Entitle">Online&nbsp;&nbsp;booking</p>
                                    <div class="line"></div>
                                    <div class="last-pic">
                                        <img src="/upload/Information/@ViewBag.OnlineBooking.Id/@ViewBag.OnlineBooking.Photo" alt="">
                                    </div>
                                    <div class="clearfix"></div>
                                    <a class="more-btn Bbtn width mr16 mt20 more-btnTop"href="javascript:void(0)" id="buy">网上订票</a>
                                    <a target="_blank" href="/VisitGuide/Notice?id=@ViewBag.OnlineBooking.Id"  class="more-btn Bbtn width mt20 more-btnTop infoBtn">预约详情</a>
                                </div>
                            }
                            <!--网上预约-->
                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box3 pull-right">
        <p class="introduction-title ">网上预约</p>
        <p class="introduction-Entitle">Online&nbsp;&nbsp;booking</p>
        <div class="line"></div>
        <img src="../img/index/firstPro/first_introduction.png" alt="" class="last-pic">
        <div class="clearfix"></div>
        <a class="more-btn Bbtn width mr16 mt20" href="javascript:void(0)" id="buy">网上订票</a>
        <a target="_blank" href="http://47.93.81.30/yanshi/jsbwg/index.php?g=Portal&m=Morder&a=index" class="more-btn Bbtn width mt20">讲解预约</a>
    </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--典藏精品-->
        <div class="row classicBox">
            <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
                <div class="container b1-border aa padding15">
                    <div class="row">
                        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 padding_0 mt25 mb25">
                            <div class="classic-menu fl">
                                <p class="fz24 yellow">典藏精品</p>
                                <div class="line width"></div>
                            </div>
                            <a href="/Collection/Index">
                                <div class="classic-btn Bbtn fr">更多精品</div>
                            </a>
                        </div>

                        <div class="pic-box">
                            @{
                                if (ViewBag.Collections != null)
                                {
                                    for (int i = 0; i < ViewBag.Collections.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 padding_0">
                                                @{
                                                    var imgsrc = ViewBag.Collections[i].Pic.Split('|')[1];
                                                    <img src="@imgsrc" class="img-responsive center-block limitImg" />
                                                }
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text">
                                                <p class="text-center">@ViewBag.Collections[i].Name</p>
                                                <div>
                                                    @Html.Raw(ViewBag.Collections[i].Size)<br />
                                                    @Html.Raw(ViewBag.Collections[i].Character)
                                                </div>
                                            </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text" style="display: none;">
                                                            <p class="text-center">@ViewBag.Collections[i].Name</p>
                                                            <div>
                                                                @Html.Raw(ViewBag.Collections[i].Size)<br />
                                                                @Html.Raw(ViewBag.Collections[i].Character)
                                                            </div>
                                                        </div>

                                                            }
                                                        }
                                                    }
                            }
                        </div>
                        <div class="clearfix"></div>
                        <div class="hover-box showHoverBox">
                            @{
                                if (ViewBag.Collections != null)
                                {
                                    foreach (var item in ViewBag.Collections)
                                    {
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding_0">
                                            @{
                                                var imgsrc = item.Pic.Split('|')[1];
                                                <img src="@imgsrc" class="img-responsive center-block" alt="">
                                            }
                                        </div>
                                                    }

                                                }
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--展览导览-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom: 1px solid #DAB766;">
                <div class="container aa">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 padding_0 mt25 mb25">
                            <div class="classic-menu fl">
                                <p class="fz24 yellow">展览导览</p>
                                <div class="line width"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 padding_0 mt25 mb25 title">
                            @if (ViewBag.CulturalLandscape != null)
                            {
                                <div class="more-btn shows pull-right width70">文化景观</div>
                            }
                            @if (ViewBag.ExhibitionHall != null)
                            {
                                <div class="more-btn shows pull-right width70">陈列馆</div>
                            }
                            @if (ViewBag.RelicsHall != null)
                            {
                                <div class="more-btn shows pull-right width70">遗迹馆</div>
                            }
                            @if (ViewBag.Guide != null)
                            {
                                <div class="more-btn shows active pull-right width70">全景导览</div>
                            }
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding_0 mb60">

                            @if (ViewBag.CulturalLandscape != null)
                            {

                                <div class="shows-box" style="display: none;">
                                    <div class="show-nav-cont">
                                        <div class="show-nav-cont-info col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="info">
                                                @Html.Raw(ViewBag.CulturalLandscape.Content)
                                            </div>
                                            <a href="/Exhibition/Index#@ViewBag.CulturalLandscape.ColumnId">
                                                <div class="show-nav-cont-btn">查看详情</div>
                                            </a>
                                            <div class="cont-info-img1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <a href="/Exhibition/Index#@ViewBag.CulturalLandscape.ColumnId">
                                                    <img class="img-responsive center-block" src="../img/index/show/exhibition_picture.png" alt="" />
                                                </a>
                                            </div>
                                            <div class="cont-info-img2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <a target="_blank" href="http://www.360vrpano.com/index.php/Project/viewProject/id/10796.html?from=groupmessage&isappinstalled=0">
                                                    <img class="img-responsive center-block" src="../img/index/show/exhibition_panoramic.png" />
                                                </a>
                                            </div>
                                        </div>

                                        <!--遗迹馆里的图片-->
                                        <div class="show-nav-cont-img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                            <a href="/Exhibition/Index#@ViewBag.CulturalLandscape.ColumnId">
                                                @{
                                                    var imgsrc = "/upload/Information/" + ViewBag.CulturalLandscape.Id + "/" + ViewBag.CulturalLandscape.Photo + "";
                                                    <img class="img-responsive" src="@imgsrc" />
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                                    }
                            <!--陈列馆-->
                            @if (ViewBag.ExhibitionHall != null)
                            {

                                <div class="shows-box" style="display: none;">
                                    <div class="show-nav-cont">
                                        <div class="show-nav-cont-info col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="info">
                                                @Html.Raw(ViewBag.ExhibitionHall.Content)
                                            </div>
                                            <a href="/Exhibition/Index#@ViewBag.ExhibitionHall.ColumnId">
                                                <div class="show-nav-cont-btn">查看详情</div>
                                            </a>
                                            <div class="cont-info-img1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <a href="/Exhibition/Index#@ViewBag.ExhibitionHall.ColumnId">
                                                    <img class="img-responsive center-block" src="../img/index/show/exhibition_picture.png" alt="" />
                                                </a>
                                            </div>
                                            <div class="cont-info-img2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <a target="_blank" href="@ViewBag.ExhibitionHall.UrlAddress">
                                                    <img class="img-responsive center-block" src="../img/index/show/exhibition_panoramic.png" />
                                                </a>
                                            </div>
                                        </div>

                                        <!--遗迹馆里的图片-->
                                        <div class="show-nav-cont-img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                            <a href="/Exhibition/Index#@ViewBag.ExhibitionHall.ColumnId">
                                                @{
                                                    var imgsrc = "/upload/Information/" + ViewBag.ExhibitionHall.Id + "/" + ViewBag.ExhibitionHall.Photo + "";
                                                    <img class="img-responsive" src="@imgsrc" />
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                                    }
                            <!--遗迹馆-->
                            @if (ViewBag.RelicsHall != null)
                            {

                            <!--遗迹馆-->
                                <div class="shows-box" style="display: none;">
                                    <div class="show-nav-cont">
                                        <div class="show-nav-cont-info col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <div class="info">
                                                @if (ViewBag.RelicsHall != null)
                                                {
                                                    @Html.Raw(ViewBag.RelicsHall.Content);
                                                }
                                            </div>
                                            <a href="/Exhibition/Ruins">
                                                <div class="show-nav-cont-btn">查看详情</div>
                                            </a>
                                            <div class="cont-info-img1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <a href="/Exhibition/Ruins#aboutImg">
                                                    <img class="img-responsive center-block" src="../img/index/show/exhibition_picture.png" alt="" />
                                                </a>
                                            </div>
                                            <div class="cont-info-img2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <a target="_blank" href="@ViewBag.RelicsHall.UrlAddress">
                                                    <img class="img-responsive center-block" src="../img/index/show/exhibition_panoramic.png" />
                                                </a>
                                            </div>
                                        </div>

                                        <!--遗迹馆里的图片-->
                                       
                                        @{
                                            var src = "/upload/Information/" + ViewBag.RelicsHall.Id + "/" + ViewBag.RelicsHall.Photo + "";

                                            <div class="show-nav-cont-img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                <a href="/Exhibition/Index#@ViewBag.RelicsHall.ColumnId"><img class="img-responsive" src="@src" alt="" /></a>
                                            </div>
                                        }
                                       
                                    </div>
                                </div>
                            }
                            <!--全景导览-->
                            @if (ViewBag.Guide != null)
                            {
                                <div class="shows-box col-lg12 col-md-12 col-sm-12 col-xs-12" style="display: block;">
                                    <a target="_blank" href="@ViewBag.Guide.UrlAddress">
                                        @{
                                            var imgsrc = "/upload/Information/" + ViewBag.Guide.Id + "/" + ViewBag.Guide.Photo + "";
                                            <img class="img-responsive center-block all" src="@imgsrc" />
                                        }

                                    </a>
                                </div>
                                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (ViewBag.Footer != null)
        {
            <script src="../js/jquery.min.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <script src="../common/common.js"></script>
            <script src="../js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
            <script src="../js/index.js"></script>
            <footer class="container footer ">
                <div class="row">
                    <!--联系我们-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 callme padding_0">
                        <p class="callmeP1">联系我们</p>
                        <p class="callmeP2">电话:<span> @ViewBag.Footer.PhoneNumber</span></p>
                        <p class="callmeP3">地址:<span> @ViewBag.Footer.Address</span></p>
                        <div class="row twopic">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 twopicDiv1">
                                <img class="img-responsive" src="@ViewBag.Footer.Wechat" />
                                <p><img src="../common/footerImg/bottom_wechat.png" /><span class="weixincolor">关注官方微信</span></p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <img class="img-responsive" src="@ViewBag.Footer.Watermark" />
                                <p><img src="../common/footerImg/weibo-icon.png" /><span class="color">关注官方微博</span></p>
                            </div>
                        </div>
                    </div>
                    <!--友情链接-->
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1  link padding_0">
                        <p class="linkP1">友情链接</p>
                        <!--博物馆-->
                        <div class="footer-museum divselect">
                            <cite onchange="window.location=this.href;">博物馆</cite>
                            <ul id="OtherList" tag="@ViewBag.Footer.MuseumLink"></ul>
                        </div>
                        <!--政府-->
                        <div class="footer-government divselect">
                            <cite onchange="window.location=this.href;">其他</cite>
                            <ul id="GovernmentalList" tag="@ViewBag.Footer.GovernmentLink"></ul>
                            <script>
                                $(function () {
                                    var data = JSON.parse($('#GovernmentalList').attr('tag'));
                                    var cc1 = "";
                                    $.each(data, function (i, item) {
                                        cc1 += "<li><a href='" + item.url + "' selectid='" + i + "'>" + item.name + "</a></li>"
                                    });
                                    
                                    $('#GovernmentalList').append(cc1);

                                    var data2 = JSON.parse($('#OtherList').attr('tag'));
                                    var cc2 = "";
                                    $.each(data2, function (i, item) {
                                        cc2 += "<li><a href='" + item.url + "' selectid='" + i + "'>" + item.name + "</a></li>"
                                    });
                                    
                                    $('#OtherList').append(cc2);

                                });
                            </script>
                        </div>

                        <p class="help">游览帮助</p>
                        <div class="link-btm-info">
                            <ul>
                                @if (ViewBag.JumpLink != null)
                                {
                                    foreach (var item in ViewBag.JumpLink)
                                    {
                                        <li>
                                            <a href="/VisitGuide/Index#@item.Id">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!--版权-->
                    <div class="col-xs-12  copyright padding_0">
                        <div>
                            <img class="img-responsive" src="../common/footerImg/bottom_logo.png" />
                        </div>
                        <p class="copyrightP1">金沙遗址博物馆版权所有</p>
                        <p class="copyrightP2">@ViewBag.Footer.RegisterNo</p>
                    </div>
                </div>
                <!--返回顶部-->
                <div class="toTop" style="display: none;">
                    <img class="bgarr" src="/img/arrows/return_nor.png" />
                    <img class="hoverImg" src="/img/arrows/return_pre.png">
                </div>
            </footer>
        }

        <!--内容展示结束-->
    </div>
    <script>
                                $("#loginout").on("click", function () {
                                    $.ajax({
                                        url: '/api/Members/MembersLoginout',
                                        type: 'GET',
                                        dataType: "text",
                                        contentType: "application/json",
                                        success: function (data) {
                                            data = JSON.parse(data)
                                            alert(data.message);
                                            window.location.reload();
                                        }
                                    });
                                });
    </script>
</body>

</html>