@using SteponTech.Data.BaseModels
@using System.Linq;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE =edge,chrome =1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/common/common.css" />
    <link rel="stylesheet" href="/css/reset.css ">
    <!-- [if IE 8]>
    <script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/intosands/intosands.css" />
    <!-- [if lt IE 9] >
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- [if lt IE 9] -->

    <style type="text/css">
        .newBossSpeech {
            width: 100%;
            border-top: 1px solid #3d2b15;
        }

        .newBoss-introduce {
            width: 100%;
        }

        .newBoss-imginfo {
            width: 100%;
            margin-bottom: 80px;
        }

        .newBoss-introduce > p {
            font-family: 'Optima Regular';
            font-size: 30px;
            color: #DAB766;
            margin: 80px 0px;
        }
        /*馆长的帅照*/
        .newBoss-img > img {
            position: relative;
        }
        /*馆长的致辞*/
        .newBossSpeech-info {
            float: left;
            word-break: break-all;
        }

            .newBossSpeech-info > div {
                width: 95%;
            }

        .newBossSpeechh-info h4 {
            font-size: 16px;
            color: #DAB766;
            margin-bottom: 3%;
        }

        .newBnfoP {
            /*限制行数*/         
            position: relative;
            line-height: 28px;
            max-height: 196px;
            overflow: hidden;
        }

            .newBnfoP::after {
                content: "...";
                position: absolute;
                bottom: 0;
                right: 0;
                padding-left: 40px;
            }

        .newBoss-speech-info p {
            line-height: 28px;
            text-indent: 27px;
            width: 100%;
        }
        /*展开更多*/
        .newBossSpeech-more {
            cursor: pointer;
            width: 340px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border: 1px solid #DAB766;
            color: #DAB766;
            margin: 10% auto;
        }

            .newBossSpeech-more:hover {
                color: #000000;
                background-color: #DAB766;
            }
        /*组织机构*/
        .organization {
            width: 100%;
            margin-bottom: 60px;
            display: inline-block;
        }
        .jinshaSite{
            margin-top:20px;
        }
        .intrLearnmore{
            width:140px;height:30px;line-height:30px;float:right;margin-top:105px;
        }
        .article-title {
            font-family: 'Optima Regular'
        }
        .article-content {
            font-family: 'Futura Bk BT Book';
            word-break: keep-all;
            text-align: justify;
        }
    </style>
</head>
<body>
    <!--分享开始   JiaThis Button BEGIN -->
    <script>
        var jiathis_config = {
            siteNum: 15,
            sm: "tsina,qzone,cqq,xiaoyou,qq,weixin,tqq,tieba,douban,twitter,139mail,google,189mail,fav,alibaba",
            summary: "",
            boldNum: 6,
            showClose: true,
            shortUrl: false,
            hideMore: false
        }
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?btn=r2.gif&move=0" charset="utf-8"></script>
    <!--分享结束   JiaThis Button end -->
    <div class="container-fluid ">
        <!--顶部开始-->
        <div class="row nav-bg b3-border">
            <div class="container padding_0  aa">
                <div class="row ">
                    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3  padding_0 logo">
                            <img src="/img/index/banner/logo.png" alt="" class="img-responsive center-block" />
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 padding_0 ">
                            <div class="top-list">
                                <ul>
                                    <li><a href="/JinSha/Index">English</a></li>
                                    <li id="China" class="China">Chinese<img class="Uparr" src="/img/arrows/san.png" /></li>
                                    <ol id="hideOl" class="hideOl">
                                        <li>General</li>
                                        <li class="stude">Academic</li>
                                        <li class="children">Education</li>
                                    </ol>
                                </ul>
                            </div>
                            <div class="menu-btn">
                                <img src="/common/headerImg/menu.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide-top-list">
                    <ul>
                        <a href="">
                            <li>大众版</li>
                        </a>
                        <a href="">
                            <li><a href="/JinSha/Index">English</a></li>
                        </a>
                        <a href="">
                            <li>学术版</li>
                        </a>
                        <a href="">
                            <li>青教版</li>
                        </a>
                        @if (ViewBag.Head?.Count > 0)
                        {
                            foreach (Models item in ViewBag.Head)
                            {
                                switch (item.ModelName)
                                {
                                    case "HOME":
                                        <a href="/JinSha/Index">
                                            <li>HOME</li>
                                        </a>
                                        break;
                                    case "ABOUT":
                                        <a class="active" href="/About/Intosands">
                                            <li>ABOUT</li>
                                        </a>
                                        break;
                                    case "VISIT":
                                        <a href="/VisitGuide/VisitGuide">
                                            <li> VISIT </li>
                                        </a>
                                        break;
                                    case "GUIDE":
                                        <a href="/Exhibition/Index">
                                            <li> GUIDE </li>
                                        </a>
                                        break;
                                    case "NEWS":
                                        <a href="/NEWS/Index">
                                            <li> NEWS </li>
                                        </a>
                                        break;
                                    case "CREATIVITY":
                                        <a href="/Creation/Index">
                                            <li> ARTS </li>
                                        </a>
                                        break;
                                    case "COLLECTIONS":
                                        <a href="/Collection/Index">
                                            <li> COLLECTIONS </li>
                                        </a>
                                        break;
                                    case "EVENTS":
                                        <a href="/Culture/Index">
                                            <li> EVENTS </li>
                                        </a>
                                        break;
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="row mAp0">
                    <div class="nav-list">
                        <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 padding_0">
                            <ul>
                                @if (ViewBag.Head?.Count > 0)
                                {
                                    foreach (Models item in ViewBag.Head)
                                    {
                                        switch (item.ModelName)
                                        {
                                            case "HOME":
                                                <a href="/JinSha/Index">
                                                    <li>HOME</li>
                                                </a>
                                                break;
                                            case "ABOUT":
                                                <a class="active" href="/About/Intosands">
                                                    <li>ABOUT</li>
                                                </a>
                                                break;
                                            case "VISIT":
                                                <a href="/VisitGuide/VisitGuide">
                                                    <li>VISIT</li>
                                                </a>
                                                break;
                                            case "GUIDE":
                                                <a href="/Exhibition/Index">
                                                    <li>GUIDE</li>
                                                </a>
                                                break;
                                            case "NEWS":
                                                <a href="/NEWS/Index">
                                                    <li>NEWS</li>
                                                </a>
                                                break;
                                            case "CREATIVITY":
                                                <a href="/Creation/Index">
                                                    <li>ARTS</li>
                                                </a>
                                                break;
                                            case "COLLECTIONS":
                                                <a href="/Collection/Index">
                                                    <li>COLLECTIONS</li>
                                                </a>
                                                break;
                                            case "EVENTS":
                                                <a href="/Culture/Index">
                                                    <li>EVENTS</li>
                                                </a>
                                                break;
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Banner图-->
        <div class="row">
            <div class="banner col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (ViewBag.Banner != null)
                {
                    <img src='/upload/Banner/@ViewBag.Banner.FileName' class="img-responsive center-block" alt="关于金沙">
                }
            </div>
        </div>
        <!--Banner图下面的内容-->
        <div class="content container">
            <!--内容的导航-->
            <div class="row">
                <div class="cont-nav">
                    <ul class="center-block">
                        @if (ViewBag.Colunms?.Count > 0)
                        {
                            for (var i = 0; i < ViewBag.Colunms.Count; i++)
                            {
                                Colunms colunm = ViewBag.Colunms[i];
                                var anchorId = "#anchor" + i;
                               
                                <li href="@anchorId">@colunm.Name</li>
                            }
                        }
                    </ul>
                </div>
            </div>
            @if (ViewBag.Colunms?.Count > 0)
            {
                List<Information> infomations = ViewBag.Informations;
                for (var i = 0; i < ViewBag.Colunms.Count; i++)
                {
                    Colunms colunm = ViewBag.Colunms[i];
                    var anchorId = "anchor" + i;
                    var infos = new List<Information>();
                    if (infomations?.Count > 0)
                    {
                        infos = infomations.Where(e => e.ColumnId == colunm.Id).OrderBy(e => e.CreationDate).ToList();
                    }
                    switch (colunm.Name)
                    {
                        case "About Us":
                            if (infos?.Count > 0)
                            {
                            <!--金沙简介-->
                                <div id="@anchorId" class="sands-introduce row">
                                    <div class="sands-introduce-info col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <p  class="intosandsTitle">Jinsha Site Museum</p>
                                        <div class="sands-introduce-infotext jinshaSite ">
                                            @infos[0].Intro
                                        </div>
                                        <a href="/About/Introduce"><div class="sands-introduce-infobtn">Learn more</div></a>
                                    </div>
                                    <div id='gallery' class="sands-introduce-img  col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-12  col-xs-12">
                                        <!--视频图片-->
                                        <div class='sands-introduce-imgMask img-responsive'>
                                            <video controls="controls" loop="loop" preload src="/upload/Information/@infos[0].Id/@infos[0].FileName"></video>
                                        </div>
                                    </div>
                                </div>
                            }
                            break;
                        case "Director's Letter":
                            if (infos?.Count > 0)
                            {
                            <!--馆长致辞-->
                                <div id="@anchorId" class="sands-introduce row">
                                    <div class="boss-introduce">
                                        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 intosandsTitle">Director's Letter</p>
                                        <div class="boss-imginfo col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive">
                                            <!--馆长的帅照-->
                                            <div class="boss-img  col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <img src="/upload/Information/@infos[0].Id/@infos[0].Photo" alt="" class="img-responsive">
                                                <div>Director of Chengdu Jinsha Site Museum<i style="font-weight:600">&nbsp;&nbsp;@infos[0].Speaker</i></div>
                                            </div>
                                            <!--馆长的致辞-->
                                            <div class="boss-speech-info clearfix col-lg-7 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                                                <div class="center-block " id="bossInfoBox">
                                                    <h4>@infos[0].Title</h4>
                                                    <!--全部显示文段-->
                                                    <p class="infoall">
                                                        @infos[0].Intro
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            break;
                        case "Administration":
                            <!--组织机构-->
                            <div id="@anchorId" class="sands-introduce organization row">
                                <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 intosandsTitle">Administration</p>
                                <!--组织机构的简介-->
                                <div class="organization-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p>@colunm.ColDescribe</p>
                                </div>
                                <!--组织机构的图例-->
                                <div class="organization-example col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="example-body">
                                        <ul id="myUl">
                                            @if (infos?.Count > 0)
                                            {
                                                foreach (Information item in infos)
                                                {
                                                    <li class="mylist">
                                                        <p class="listP">
                                                            @item.Title <i class="iconfont">&#xe504;</i>
                                                        </p>
                                                        <ol class="childList">
                                                            @Html.Raw(item.Content)
                                                        </ol>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            break;
                        default:
                            <!--新栏目-->
                            if (infos?.Count > 0)
                            {
                                <div id="@anchorId" class="newBossSpeech row">
                                    <div class="newBoss-introduce">
                                        @*<p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">@colunm.Name</p>*@
                                        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Jinsha Site Museum</p>
                                        <div class="newBoss-imginfo col-lg-12 col-md-12 col-sm-12 col-xs-12 img-responsive">
                                            <!--馆长的帅照-->
                                            <div class="boss-img  col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <img src="/upload/Information/@infos[0].Id/@infos[0].Photo" alt="" class="img-responsive">
                                            </div>
                                            <!--文字内容-->
                                            <div class="newBossSpeech-info  col-lg-7 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                                                <div class="center-block" id="bossInfoBox">
                                                    <h4 class="article-title">@infos[0].Title</h4>
                                                    <!--部分显示文段-->
                                                    <p class="newInfoP article-content">
                                                        @infos[0].Intro
                                                    </p>
                                                    <a href="/Jinsha/NewDetail?id=@infos[0].Id"><div class="newBossSpeech-more intrLearnmore">Learn more</div></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            break;
                    }
                }
            }
        </div>
        <!--页面下面的长线-->
        <div class="line"></div>
        @if (ViewBag.Footer != null)
        {
            <!--引入的jquery和自定义js-->
            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/common/common.js"></script>
            <script type="text/javascript" src="/js/intosands/intosands.js"></script>
            <footer class="container footer ">
                <div class="row">
                    <!--联系我们-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 callme padding_0">
                        <p class="callmeP1">Contact Us</p>
                        <p class="callmeP2">Phone:<span> @ViewBag.Footer.PhoneNumber</span></p>
                        <p class="callmeP3">Address:<span> @ViewBag.Footer.Address</span></p>
                        <div class="row twopic">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 twopicDiv1">
                                <img class="img-responsive" src="@ViewBag.Footer.Wechat" />
                                <p><img src="/common/footerImg/bottom_wechat.png" /><span>Follow our WeChat</span></p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <img class="img-responsive" src="@ViewBag.Footer.Watermark" />
                                <p><img src="/common/footerImg/weibo-icon.png" /><span class="color">Follow our WeiBo</span></p>
                            </div>
                        </div>
                    </div>
                    <!--友情链接-->
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1  link padding_0">
                        <p class="linkP1">Links of Interest</p>
                        <!--博物馆-->
                        <div class="footer-museum divselect">
                            <cite onchange="window.location=this.href;">Museums</cite>
                            <ul id="OtherList" tag="@ViewBag.Footer.MuseumLink"></ul>
                        </div>
                        <!--政府-->
                        <div class="footer-government divselect">
                            <cite onchange="window.location=this.href;">Others</cite>
                            <ul id="GovernmentalList" tag="@ViewBag.Footer.GovernmentLink"></ul>
                            <script>
                                $(function () {
                                    var data = JSON.parse($('#GovernmentalList').attr('tag'));
                                    var cc1 = "";
                                    $.each(data, function (i, item) {
                                        cc1 += "<li><a href='" + item.url + "' selectid='" + i + "'>" + item.name + "</a></li>"
                                    });
                                    //console.log(cc1);
                                    $('#GovernmentalList').append(cc1);

                                    var data2 = JSON.parse($('#OtherList').attr('tag'));
                                    var cc2 = "";
                                    $.each(data2, function (i, item) {
                                        cc2 += "<li><a href='" + item.url + "' selectid='" + i + "'>" + item.name + "</a></li>"
                                    });
                                    //console.log(cc2);
                                    $('#OtherList').append(cc2);

                                });
                            </script>
                        </div>
                        <p class="help">Plan Your Visit</p>
                        <div class="link-btm-info">
                            @if (ViewBag.VisitColunms?.Count > 0)
                            {
                                List<Colunms> visitColunms = ViewBag.VisitColunms;
                                var openingHours = visitColunms.FirstOrDefault(e => e.Name == "Opening Hours");
                                var gettingHere = visitColunms.FirstOrDefault(e => e.Name == "Getting Here");
                                var services = visitColunms.FirstOrDefault(e => e.Name == "Services");
                                var visitTips = visitColunms.FirstOrDefault(e => e.Name == "Visitor Regulations");
                                <ul>
                                    @if (openingHours != null)
                                    {
                                        <a href="/VisitGuide/VisitGuide#@openingHours.Id">
                                            <li class="opening">Opening Hours</li>
                                        </a>
                                    }
                                    @if (gettingHere != null)
                                    {
                                        <a href="/VisitGuide/VisitGuide#@gettingHere.Id">
                                            <li> Getting Here</li>
                                        </a>
                                    }
                                </ul>
                                <ul>
                                    @if (services != null)
                                    {
                                        <a href="/VisitGuide/VisitGuide#@services.Id">
                                            <li class="Services">Services</li>
                                        </a>
                                    }
                                    @if (visitTips != null)
                                    {
                                        <a href="/VisitGuide/VisitGuide#@visitTips.Id">
                                            <li> Visitor Regulations</li>
                                        </a>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    <!--版权-->
                    <div class="col-xs-12  copyright padding_0">
                        <div>
                            <img class="img-responsive" src="/common/footerImg/bottom_logo.png" />
                        </div>
                        <p class="copyrightP1">Jinsha Site Museum All Rights Reserved</p>
                        <p class="copyrightP2">@ViewBag.Footer.RegisterNo</p>
                    </div>
                </div>
            </footer>
        }
        <!--返回顶部-->
        <div class="toTop" style="display: none;">
            <img class="bgarr" src="/img/arrows/return_nor.png" />
            <img class="hoverImg" src="/img/arrows/return_pre.png">
        </div>
        <!--内容展示结束-->
    </div>
</body>
</html>
