@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>金沙遗址博物馆青教版</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/common/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/strategy_intro.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="head">
            <div class="versions">
                <a href="">
                    <img src="/img/common/Chinese.png" alt="">
                </a>
                <div>
                    <a href="">
                        <img src="/img/common/English.png" alt="">
                    </a>
                    <a href="">
                        <img src="/img/common/xueshu.png" alt="">
                    </a>
                </div>
            </div>
            <div class="nav">
                <a href="/Strategy/Intro" class="a1"></a>
                <a href="/PlayJinSha/YoungExperience" class="a2"></a>
                <a href="/News/NewsList" class="a4"></a>
                <a href="/JinShaChest/Index" class="a3"></a>
                <img src="/img/common/logo.gif" id="icon-logo" alt="logo" />
            </div>
            <div class="login">
                <div class="loginoptrator">
                    <a href="/Member/Login" class="signUp">
                        <img src="/img/common/signUp.png" alt="">
                    </a>
                    <a href="/Member/VIPInstructions" class="signIn">
                        <img src="/img/common/signIn.png" alt="">
                    </a>
                </div>
                <div class="infoOptrator">
                    <a class="users">
                        <img src="/img/common/users.png" alt="">
                    </a>
                    <a href="/VIP/MyInformation" class="myInfo">
                        <img src="/img/common/myInfo.png" alt="">
                    </a>
                    <a class="loginOut">
                        <img src="/img/common/loginOut.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <a class="greenTeaching"></a>
    </div>
    <div style="height: 105px;"></div>
    <div class="content">
        <div class="glass">
        </div>
        <div class="content-box">
            <img class="brid1" src="/img/strategy_intro/brid1.png" alt="鸟儿" />
            <div class="crumbs">
                <div class="inner">
                    <img src="/img/strategy_intro/present.png" alt="当前位置">
                    <a href="/Home/Index"><img src="/img/strategy_intro/home.png" alt="首页"></a>
                    <a href="/Strategy/Intro"><img src="/img/strategy_intro/gonglue.png" alt="金沙攻略"></a>
                    <a href="/Strategy/Intro"><img src="/img/strategy_intro/rwnshi1.png" alt="认识金沙"></a>
                    <a href="/Strategy/Intro" class="jinshaInfo"><img src="/img/strategy_intro/jianjie1.png" alt="金沙简介"></a>
                </div>
            </div>
            <div class="nav1">
                <a href="/Strategy/Intro">
                    <img src="/img/strategy_intro/renshi.png" alt="" class="nav1-1">
                </a>
                <a href="/Strategy/Animation">
                    <img src="/img/strategy_intro/donghua.png" alt="" class="nav1-2">
                </a>
                <a href="/Strategy/Question">
                    <img src="/img/strategy_intro/quwen.png" alt="" class="nav1-3">
                </a>
                <a href="/Strategy/ChildrenTalk">
                    <img src="/img/strategy_intro/mengwa.png" alt="" class="nav1-4">
                </a>
                <a href="/Strategy/ValuableBookMap">
                    <img src="/img/strategy_intro/baodian.png" alt="" class="nav1-5">
                </a>
            </div>
            <div class="box">
                <div class="title">
                    <img src="/img/strategy_intro/jsjianjie.png" alt="" class="intro">
                    <img src="/img/strategy_intro/dibiao.png" alt="" class="dibiao">
                </div>
                @if (ViewBag.IntroInfo != null)
                {
                    <!--金沙简介-->
                    <div class="subpage1">
                        <div class="video">
                            <div id="slideBox" class="slideBox">
                                <div class="bd">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" target="_blank">
                                                <video src="/upload/Information/@ViewBag.IntroInfo.Id/@ViewBag.IntroInfo.FileName" controls></video><img src="/img/strategy_intro/playIcon.png" class="playIcon" />
                                            </a>
                                        </li>
                                        @if (ViewBag.IntroImg?.Count > 0)
                                        {
                                            foreach (var img in ViewBag.IntroImg)
                                            {
                                                <li>
                                                    <a href="javascript:void(0)" target="_blank"><img class="banner" src="/upload/Information/@ViewBag.IntroInfo.Id/@img" /></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                                <a class="prev" href="javascript:void(0)"><img src="/img/strategy_intro/left_btn.png" /></a>
                                <a class="next" href="javascript:void(0)"><img src="/img/strategy_intro/right_btn2.png" /></a>
                            </div>
                        </div>
                        <a href="http://www.360vrpano.com/index.php/Project/viewProject/id/10796.html?from=groupmessage&isappinstalled=0" target="_blank"><img src="/img/strategy_intro/quanjing.png" alt="" class="vr"></a>
                        <div class="text">
                            <div class="text-box">
                                <p>
                                    @ViewBag.IntroInfo.Intro
                                </p>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.LandmarkInfo != null)
                {
                    <!--金沙地标-->
                    <div class="subpage2">
                        <div class="video">
                            <div id="slideBox2" class="slideBox">
                                <div class="bd">
                                    <ul>
                                        @if (ViewBag.LandmarkImg?.Count > 0)
                                        {
                                            foreach (var img in ViewBag.LandmarkImg)
                                            {
                                                <li>
                                                    <a href="javascript:void(0)" target="_blank"><img class="banner" src="/upload/Information/@ViewBag.LandmarkInfo.Id/@img" /></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                                <a class="prev" href="javascript:void(0)"><img src="/img/strategy_intro/left_btn.png" /></a>
                                <a class="next" href="javascript:void(0)"><img src="/img/strategy_intro/right_btn2.png" /></a>
                            </div>
                        </div>
                        <a href="http://www.360vrpano.com/index.php/Project/viewProject/id/10796.html?from=groupmessage&isappinstalled=0" target="_blank"><img src="/img/strategy_intro/quanjing.png" alt="" class="vr"></a>
                        <div class="text">
                            <div class="text-box">
                                <p>
                                    @ViewBag.LandmarkInfo.Intro
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="mark"></div>
        @if (ViewBag.Footer != null)
        {
            <ul class="foot">
                <li>
                    <p>电话：@ViewBag.Footer.Phone</p>
                    <p class="footText">地址：@ViewBag.Footer.Address</p>
                    <div class="code wechatcode">
                        <img src="@ViewBag.Footer.WeChart" alt="" class="footText">
                        <p class="footWeixin">
                            <img src="/img/common/weixin_2.png" alt="">
                            <span>关注官方微信</span>
                        </p>
                    </div>
                    <div class="code weibocode">
                        <img src="@ViewBag.Footer.WeChart" alt="" class="footText">
                        <p class="footWeixin">
                            <img src="/img/common/weibo-icon.png" alt="">
                            <span>关注官方微博</span>
                        </p>
                    </div>
                </li>
                <li class="foot-li2">
                    <a href="http://map.baidu.com/?newmap=1&s=inf%26uid%3Ded4f5b58efb42cd248cc4af2%26wd%3D%E9%87%91%E6%B2%99%E9%81%97%E5%9D%80+%E7%99%BE%E5%BA%A6%E5%9C%B0%E5%9B%BE%26all%3D1%26c%3D75&from=alamap&tpl=map_singlepoint" target="_blank">
                        动态地图导航
                        <img src="/img/common/position.png" alt="">
                    </a>
                    <p class="group">社教QQ1群号:@ViewBag.Footer.QQGroup</p>
                    <p class="group2">社教QQ2群号:@ViewBag.Footer.QQGroup2</p>
                </li>
                <li>
                    <p>游览帮助</p>
                    @if (ViewBag.Infomations?.Count > 0)
                    {
                        <div class="group">
                            <a href="/Strategy/ValuableBook#@ViewBag.Infomations[0].Id">@ViewBag.Infomations[0].Title</a>
                            <a href="/Strategy/ValuableBook#@ViewBag.Infomations[1].Id">@ViewBag.Infomations[1].Title</a>
                        </div>
                        <div class="service">
                            <a href="/Strategy/ValuableBook#@ViewBag.Infomations[2].Id">@ViewBag.Infomations[2].Title</a>
                            <a href="/Strategy/ValuableBook#@ViewBag.Infomations[3].Id">@ViewBag.Infomations[3].Title</a>
                        </div>
                    }
                    <p class="number"><span>金沙遗址博物馆版权所有</span><span>@ViewBag.Footer.RegisterNo</span></p>
                </li>
            </ul>
        }
    </div>
</body>
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/css/common/common.js"></script>
<script src="/js/jquery.nicescroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.nicescroll.iframehelper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/strategy/strategy_intro.js" type="text/javascript" charset="utf-8"></script>

</html>
